@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Cinzel|Scope+One|IM+Fell+English+SC&display=swap');

$old-timey-font: 'IM Fell English SC';
$rpg-font: 'Cinzel';
//$rpg-font: 'Scope One';

body {
  font-family: $rpg-font, serif;
}

h5 {
  font-weight: 900;
}

.input-group-prepend,
.input-group-append {
  font-family: $old-timey-font, serif;

  .input-group-text {
    font-size: 1.3em !important;
    padding: 0.1rem 0.75rem;
  }
}

.background-image {
  position: absolute;
  left: 2.5%;
  top: 5%;
  opacity: 0.05;
  width: 95%;
  //height: auto;
  z-index: -1;
}

/* .row {
  padding-top: 8px;
} */

.dropdown .btn {
  width: 100%;
}

.dropdown-item {
  white-space: normal;
  font-family: $rpg-font;
}

.input--small {
  width: 8em;
}

.input--smaller {
  width: 6em;

  .input--stats {
    text-align: center;
  }
}

.card {
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-group-item {
  font-size: 0.8em;
}

.skill-modifier {
  font-weight: 900;
  font-size: 1.1em;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: $white;
  border: 1px solid $black;
  width: 1.2em;
  height: 1.2em;
  border-radius: 0.3rem;
  outline: 0;
  vertical-align: middle;
}

.checkbox:checked {
  background-color: #f00;
}

.background--fill {
  background: $white;
}

.button--smaller-text .btn {
  font-size: 0.6em;
}

.input-group input.form-control {
  background: none;
  border: none;
  border-bottom: 2px solid $black;
  border-radius: 2px;

  &:focus,
  &:hover {
    //background: #fd0;
    background: rgba(255, 200, 0, 0.25);
  }
}